<div class="list-group">

    <% items.forEach((item)=>{ %>
    <button type="button" class="list-group-item list-group-item-action"> <b><%=item.id%></b> <%=item.category%> <span><%=item.name%></span><i><%=item.price%></i> <small><%=item.color%></small> </button>
  <% }) %>

</div>